@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Clarity_Crate.Components.Pages

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />



<div class="page">

    <main>
        <MudLayout>
            <MudAppBar Style="@($"background-color:{Colors.Grey.Lighten5};")">
                <MudIconButton Size="Size.Large" Icon="@Icons.Material.Filled.Menu" Color="Color.Dark" Edge="Edge.Start" OnClick="@ToggleDrawer" />
                <div class="me-auto ms-3">
                    <ul class="navbar-nav mb-0 ">
                        <li class="nav-item">
                            <a class="nav-link text-dark fw-bold" aria-current="page" href="/">Clarity Crate</a>
                        </li>
                    </ul>

                </div>
                <MudSpacer />
                <LoginDisplay />
                <!-- <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/MudBlazor/MudBlazor" Target="_blank" />-->
            </MudAppBar>
            <MudDrawer @bind-Open="@open" ClipMode="clipMode" Elevation="1">
                <MudDrawerHeader>
                    <MudText Typo="Typo.h6">Clarity Crate</MudText>
                </MudDrawerHeader>
                <MudNavMenu Color="Color.Info" Rounded="true">
                    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>

                    @if (isLoggedIn)
                    {
                        <MudNavGroup Title="Admin" @bind-Expanded=_isExpanded Icon="@Icons.Material.Filled.AdminPanelSettings">
                            <MudNavLink Href="/curriculums" Match="NavLinkMatch.All">Curriculums</MudNavLink>
                            <MudNavLink Href="/subjects" Match="NavLinkMatch.All">Subjects</MudNavLink>
                            <MudNavLink Href="/topics" Match="NavLinkMatch.All">Topics</MudNavLink>

                            <MudNavLink Href="/terms" Match="NavLinkMatch.All">Terms</MudNavLink>
                            <MudNavLink Href="/levels" Match="NavLinkMatch.All">Levels</MudNavLink>
                        </MudNavGroup>
                    }

                    <MudNavLink Href="/about" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Info">About us</MudNavLink>

                    <MudNavLink Href="/contact" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Phone">Contact us</MudNavLink>
                </MudNavMenu>
            </MudDrawer>
            <MudMainContent>
                <MudContainer>
                    @Body
                </MudContainer>
            </MudMainContent>


        </MudLayout>

    </main>

    <Footer />
</div>



@code {
    bool open = false;
    bool _isExpanded = false;
    bool isLoggedIn = false;


    DrawerClipMode clipMode = DrawerClipMode.Docked;


    protected async override Task OnInitializedAsync()
    {

        //check to see f the use is logged in
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        var user = authState.User;

        isLoggedIn = user.Identity.IsAuthenticated;


    }

    void ToggleDrawer()
    {
        open = !open;
    }




    private readonly MudTheme _currentTheme = new()
    {
        /*
        Palette = new PaletteLight
        {

            Primary = "#007bff", // Blue
            Secondary = "#6c757d", // Gray
            Info = "#17a2b8", // Cyan
            Success = "#28a745", // Green
            Warning = "#ffc107", // Yellow
            Error = "#dc3545", // Red
            AppbarBackground = "#212121", // Dark gray
            TextPrimary = "#212529", // Dark gray
            TextSecondary = "#6c757d", // Gray
        },
            Typography = new Typography()
        {
            Default = new Default()
            {
                FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" }
            }
        }
        */
    };
    }