@page "/summarizer"
@using Clarity_Crate.Services
@using Clarity_Crate.Models
@using Clarity_Crate.Dtos
@using Clarity_Crate.Components.Pages.Flashcards
<PageTitle>Summarizer</PageTitle>
@inject NavigationManager NavigationManager
@inject CurriculumService CurriculumService
@inject SubjectService SubjectService
@inject TopicService TopicService
@inject LevelService LevelService
@inject TermService TermService
@inject SummarizationService SummarizationService

<style>
    /*Feedback Start*/
    .feedback-section {
        position: fixed;
        left: 0;
        top: 40%;
        transform: translateY(-50%);
        z-index: 1000; /* Ensures it stays on top of other elements */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .feedback-button-container {
        background-color: #EF6C00;
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(0%);
        z-index: 1000; /* Ensures it stays on top of other elements */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vertical-text {
        writing-mode: vertical-rl; /* Rotates the text to be vertical */
        transform: rotate(180deg); /* Optional: Adjust the direction */
        white-space: nowrap; /* Ensures the text stays on a single line */
    }


    /*Feedback End */


    .desktop-summarizer {
        min-height: 25rem;
    }

    .desk-slider {
        margin-left: 50%;
        margin-top: 0.9rem;
        position: absolute;
        z-index: 5;
    }

    .mobile-summarizer {
        min-height: 32rem;
    }
</style>



<!--Feedback Start-->
<MudPaper Class="feedback-section">
    <MudDrawerContainer Class="">
        <MudDrawer Width="18rem" Style="height:auto;" @bind-Open="@_open" Anchor="Anchor.Start" Elevation="2" Variant="@DrawerVariant.Persistent">
            <MudNavMenu>

                <EditForm class="px-3 pt-5 pb-3" Model="@_summaryFeedback" OnValidSubmit="OnValidSubmit">
                    <DataAnnotationsValidator />
                    <MudText Typo="Typo.h6">Feedback</MudText>
                    <MudText>Share your thoughts to help us improve.</MudText>
                    <div class="mt-1">

                        <MudTextField T="string" Immediate="true" Label="Enter Feedback" Lines="5" Variant="Variant.Filled" @bind-Value="_summaryFeedback.Content" For="@(() => _summaryFeedback.Content)" />

                        <div class="d-flex justify-content-end mt-3">
                            <MudButton Disabled="@SummarizationService.IsSendingFeedback" Variant="Variant.Filled" DisableElevation="true" Color="Color.Dark" ButtonType="ButtonType.Submit">
                                @if (@SummarizationService.IsSendingFeedback)
                                {
                                    <MudProgressCircular Class="ms-n1 text-dark" Size="Size.Small" Indeterminate="true" />
                                    <MudText Class="ms-2 text-dark">Please wait...</MudText>
                                }
                                else
                                {
                                    <MudText>Send</MudText>
                                }
                            </MudButton>
                        </div>
                    </div>
                </EditForm>
            </MudNavMenu>
        </MudDrawer>


        <div @onclick="ToggleDrawer" class="feedback-button-container shadow flex-column align-items-center py-1 cursor-pointer text-light rounded-end">
            <MudText Class="vertical-text vertical-text me-2 ms-2">Feedback</MudText>

            <MudIcon Icon="@Icons.Material.Filled.Message" />
        </div>

    </MudDrawerContainer>
</MudPaper>
<!--Feedback End-->
<!--Desktop Tabs Start-->
<div class="w-100 d-none d-md-block">

    <MudPaper Class="" Elevation="4">
        <!--Slider Start-->
        <!--
         <MudPaper Class="desk-slider" Elevation="0">
                    <SummarySlider />
                </MudPaper>
        -->
        <!--Slider End-->

        <MudTabs Class="desktop-summarizer" ActivePanelIndex="1" HideSlider="true" Border="true" Elevation="0" Rounded="true"
                 ApplyEffectsToContainer="true" PanelClass="pa-0 pa-md-6">
            <MudTabPanel Disabled="true" Class="d-none d-lg-flex">
                <TabContent>
                    <MudText Class="grey-text text-darken-4">Modes:</MudText>
                </TabContent>

            </MudTabPanel>
            <MudTabPanel>
                <ChildContent>
                    <SummaryItem Mode="paragraph" />
                </ChildContent>
                <TabWrapperContent>
                    <MudTooltip Text="Summarizes the content in a single cohesive paragraph.">
                        @context
                    </MudTooltip>
                </TabWrapperContent>
                <TabContent>
                    <MudText>Paragraph</MudText>
                </TabContent>

            </MudTabPanel>
            <MudTabPanel>
                <ChildContent>
                    <SummaryItem Mode="bullet" />
                </ChildContent>
                <TabWrapperContent>
                    <MudTooltip Text="Summarizes the content in a list format, with each point highlighting a key idea.">
                        @context
                    </MudTooltip>
                </TabWrapperContent>
                <TabContent>
                    <MudText class="">Bullet Points</MudText>
                </TabContent>

            </MudTabPanel>
            <MudTabPanel>
                <ChildContent>
                    <SummaryItem Mode="custom" />
                </ChildContent>
                <TabWrapperContent>
                    <MudTooltip Text="Enter specific custom instructions on how you want the text to be summarized.">
                        @context
                    </MudTooltip>
                </TabWrapperContent>
                <TabContent>
                    <MudText class="">Custom</MudText>
                </TabContent>
            </MudTabPanel>


        </MudTabs>
    </MudPaper>

</div>
<!--Desktop Tabs End-->
<!--Mobile Tabs Start-->
<div class="w-100 d-block d-md-none">
    <MudPaper Class="pt-5">
        <MudPaper Class="m-auto pb-2 w-75" Elevation="0">
            <SummarySlider />
        </MudPaper>
        <MudTabs MinimumTabWidth="2rem" Centered="true" Class="mobile-summarizer" ActivePanelIndex="0" HideSlider="true" Border="true" Elevation="0" Rounded="false"
                 ApplyEffectsToContainer="true" PanelClass="pa-0 pa-md-6">
            <MudTabPanel>
                <ChildContent>
                    <SummaryItem Mode="paragraph" />
                </ChildContent>

                <TabContent>
                    <MudIcon Icon="fas fa-align-left" />
                    <MudText class="ml-1">Paragraph</MudText>
                </TabContent>

            </MudTabPanel>
            <MudTabPanel>
                <ChildContent>
                    <SummaryItem Mode="bullet" />
                </ChildContent>

                <TabContent>
                    <MudIcon Icon="fas fa-list-ul" />
                    <MudText class="ml-1">Bullet Points</MudText>
                </TabContent>

            </MudTabPanel>
            <MudTabPanel>
                <ChildContent>
                    <SummaryItem Mode="custom" />
                </ChildContent>

                <TabContent>
                    <MudIcon Icon="fas fa-sliders-h" />
                    <MudText class="ml-1">Custom</MudText>
                </TabContent>
            </MudTabPanel>


        </MudTabs>
    </MudPaper>
</div>
<!--Mobile Tabs End-->
@code {
    private int _summaryPercentage = 50;
    private SummaryFeedbackDto _summaryFeedback = new SummaryFeedbackDto();

    private bool _open = false;

    private void ToggleDrawer()
    {
        _open = !_open;
    }

    private async Task OnValidSubmit()
    {
        await SummarizationService.SendFeedback(_summaryFeedback.Content);

        //close the drawer
        _summaryFeedback.Content = string.Empty;
        _open = !_open;
    }
}

