@page "/"
@inject NavigationManager NavigationManager
@using Clarity_Crate.Data
@using Clarity_Crate.Services
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject SummarizationService SummarizationService





<style>

    .secondary-colored-text {
        color: #EF6C00;
    }
    .icon-color {
        color: #FFAB00;
    }
    
/*About Start*/

/*About End*/
</style>

<!-- About Clarity Crate Start -->
<div class="container-fluid text-dark feature pt-5">
    <!-- Start Section Title -->
    <div class="container section-title mb-3">
        <h2>About</h2>
        <p>Clarity Crate</p>
    </div><!-- End Section Title -->
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 align-self-center mb-md-5 pb-md-5 wow fadeIn" data-wow-delay="0.3s">
                <p class="mb-4">
                    Clarity Crate is a powerful AI-driven summarization tool that helps you process and understand vast amounts of text in seconds. Whether you're working with reports, academic papers, podcasts, or meeting notes, we provide accurate and concise summaries, saving you hours of reading time.
                </p>
                <p class="mb-4">
                    Our platform leverages an advanced machine learning model and automatic OCR technology to extract and summarize text from scanned PDFs. It's quick, efficient, and customizable to your needs—allowing you to choose between paragraph summaries, bullet points, or even custom formats.
                </p>
                <div class="mb-4">
                    <div class="d-flex align-items-start">
                        <div class="me-3">
                            <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.Summarize" Title="Summarization" />
                        </div>
                        <div>
                            <span class="fw-bold d-block">Accurate Summarization</span>
                            <span class="">Get clear, concise summaries of long documents while preserving key details.</span>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="d-flex align-items-start">
                        <div class="me-3">
                            <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.Pageview" Title="OCR" />
                        </div>
                        <div>
                            <span class="fw-bold d-block">OCR for Scanned PDFs</span>
                            <span class="">Easily extract and summarize text from scanned PDF files using built-in OCR technology.</span>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="d-flex align-items-start">
                        <div class="me-3">
                            <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.Settings" Title="Customizable Modes" />
                        </div>
                        <div>
                            <span class="fw-bold d-block">Flexible Summarization Modes</span>
                            <span class="">Tailor your summaries with options like paragraph mode, bullet points, or custom instructions.</span>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="d-flex align-items-start">
                        <div class="me-3">
                            <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.FileCopy" Title="Large Documents" />
                        </div>
                        <div>
                            <span class="fw-bold d-block">Handles Large Documents</span>
                            <span class="">Summarize documents up to 1,000 pages with ease and efficiency.</span>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="d-flex align-items-start">
                        <div class="me-3">
                            <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.Speed" Title="Efficiency" />
                        </div>
                        <div>
                            <span class="fw-bold d-block">Fast and Reliable</span>
                            <span class="">Generate summaries quickly, even for lengthy and complex documents.</span>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="d-flex align-items-start">
                        <div class="me-3">
                            <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.Shield" Title="Privacy" />
                        </div>
                        <div>
                            <span class="fw-bold d-block">Secure and Private</span>
                            <span class="">Your files and data are processed securely with no risk of unauthorized access.</span>
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="d-flex align-items-start">
                        <div class="me-3">
                            <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.Help" Title="Ease of Use" />
                        </div>
                        <div>
                            <span class="fw-bold d-block">User-Friendly Interface</span>
                            <span class="">Navigate and use the app effortlessly, even if you're new to text summarization tools.</span>
                        </div>
                    </div>
                </div>


                <div class="row g-4 pt-3">
                    <div class="col-sm-6">
                        <div class="d-flex rounded p-3" style="background: #26A69A;">
                            <i class="fa fa-users fa-3x text-white"></i>
                            <div class="ms-3">
                                <h2 class="text-white mb-0" data-toggle="counter-up">10+</h2>
                                <p class="text-white mb-0">Happy Users</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex rounded p-3" style="background: #26A69A">
                            <i class="fa fa-file-pdf fa-3x text-white"></i>
                            <div class="ms-3">
                                <h2 class="text-white mb-0" data-toggle="counter-up">@SummarizationService.TotalDocumentsSummarized</h2>
                                <p class="text-white mb-0">Documents Summarized</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-end text-center text-md-end wow fadeIn" data-wow-delay="0.5s">
                <img class="img-fluid" src="img/about-img.jpg" alt="about section image">
            </div>
        </div>
    </div>
</div>

<!-- About Clarity Crate End -->

<!-- Services Section -->
<section id="services" class="services section" style="margin-top:6rem;">

    <!-- Section Title -->
    <div class="container section-title mb-5" data-aos="fade-up">
        <h2>Use</h2>
        <p>How it works</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item  position-relative">
                    <div class="icon">
                        <i class="fas fa-upload" style="color: #fd7e14;"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>1. Upload Document</h3>
                    </a>
                    <p>Start by uploading your text, article, or PDF to our platform.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="fas fa-edit" style="color:#00897B;"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>2. Review Your Content</h3>
                    </a>
                    <p>Review and refine your content by removing unnecessary sections and adjusting for better readability and summarization.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="fas fa-cogs" style="color: #FFA726"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>3. Choose Format</h3>
                    </a>
                    <p>Select from paragraph summaries, bullet points, or custom formats</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="fas fa-check-circle" style="color: #26A69A"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>4. Summarize Content</h3>
                    </a>
                    <p>Click the “Summarize” button to generate your final, condensed summary instantly.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="fas fa-magic" style="color: #fd7e14;"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>5. Refine Your Summary</h3>
                    </a>
                    <p>Review the summary and adjust any parts to improve its quality.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="fas fa-download" style="color: #00897B;"></i>
                    </div>
                    <a class="stretched-link">
                        <h3>6. Download Summary</h3>
                    </a>
                    <p>Easily copy the summary to your clipboard or download it as a file for later use.</p>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>

</section><!-- /Services Section -->
















<!-- Faq Section -->
<div class="container-fluid text-dark feature pt-5" style="margin-top:6rem;">
    <!-- Start Section Title -->
    <div class="container section-title mb-3">
        <h2>Frequently Asked Questions</h2>
        <p>Learn More About It</p>
    </div><!-- End Section Title -->
    <div class="container">
        <MudExpansionPanels>
            <MudExpansionPanel>
                <TitleContent>
                    <MudText Class="fw-bold">What are the benefits of using Clarity Crate over ChatGPT?</MudText>
                </TitleContent>
                <ChildContent>
                    Clarity Crate is designed for efficient text summarization, focusing on key points and concise formatting. Unlike ChatGPT, which generates text based on free-form prompts, Clarity Crate is specialized for summarizing business reports, academic articles, and content like podcasts or meetings. Plus, we support OCR for scanned PDFs.
                </ChildContent>
            </MudExpansionPanel>

            <MudExpansionPanel>
                <TitleContent>
                    <MudText Class="fw-bold">How long does it take to summarize text?</MudText>
                </TitleContent>
                <ChildContent>
                    The first time you summarize, it may take 25-30 seconds due to server initialization. Apologies for the wait—this is because we use a free server for the model. After the initial run, summaries will take just 5-10 seconds.
                </ChildContent>
            </MudExpansionPanel>

            <MudExpansionPanel>
                <TitleContent>
                    <MudText Class="fw-bold">Can I summarize multiple documents at once?</MudText>
                </TitleContent>
                <ChildContent>
                    At the moment, Clarity Crate processes one document at a time. However, we’re working on expanding this functionality, so multi-document summarization is coming soon.
                </ChildContent>
            </MudExpansionPanel>

            <MudExpansionPanel>
                <TitleContent>
                    <MudText Class="fw-bold">What types of documents can be summarized?</MudText>
                </TitleContent>
                <ChildContent>
                    Clarity Crate can summarize virtually any text-based document, including PDFs, Word documents, meeting notes, academic papers, and more. We even support scanned PDFs thanks to OCR technology.
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>

    </div>
</div>

<!-- /Faq Section -->



@code {

   


    protected override async Task OnInitializedAsync()
    {
        
       
    }

   
   

}
